/* app css stylesheet */

page {
  color: #333;
  background-color: #ddd;
  // overflow: hidden;
  // height: 100%;
}

#gscroller {
  height: unset !important;
}

.header {
  width: 100%;
  height: 150px;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  background-image: linear-gradient(180deg, #C0E148 0%, transparent);

  &::after {
    content: "";
    width: 100%;
    height: 300px;
  }

  .banner {
    color: rgb(49, 49, 49);
    position: sticky;
    font-size: 30px;
    font-family: PingFang SC;
    font-size: 24px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 5px;
    // text-align: center;
  }

  .search-content {
    height: 32px;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 5px;
    padding-left: 12px;
    position: sticky;
    background-color: white;
  }
}

button {
  border: 0 solid #0010ae;
  background-color: #1f2afe;
  color: #fff;
  font-size: 120%;
  padding: 8px 16px;
  outline-width: 0;
  -webkit-appearance: none;
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2);
}

.screen {
  padding: 16px;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.avatar1 {
  width: 100%;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 0;
  width: 100%;
}

.avatar {
  position: absolute;
  top: 16px;
  left: 86px;
  font-size: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.name {
  height: 65px;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 10px 10px;
  width: 100%;
  white-space: nowrap;
}

.name1 {
  height: 65px;
  font-size: 4em;
  font-weight: bold;
  margin: 10px 0;
}

.list {
  padding-top: 8px;
  padding-left: 32px;
}

.screen1 {
  overflow-y: scroll;
  padding: 0;
}

.screen1 .contact {
  margin: 10px;
  height: 200px;
  width: 44%;
  border-radius: 10px;
}

.screen2-button {
  display: block;
  margin: 24px auto;
}

.paragraph {
  -webkit-transition: transform ease-in-out 300ms;
  transition: transform ease-in-out 300ms;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

.enter.paragraph {
  transform: none;
}

.grid-view-container {
  display: grid;
  width: auto;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
  overflow: scroll;
  gap: 11px;
  margin-top: 16px;
}

.contact {
  border-radius: 10px;
  overflow: hidden;

  &.long {
    width: 185px;
    height: 267px;
    grid-row-start: span 2;
  }

  &.short {
    width: 128px;
    height: 128px;
    height: 1fr;
  }
}

.content-container {
  background-color: white;
  padding-bottom: 24px;
}

.normal-content {
  padding-left: 25px;

  &.recommand {
    background-image: linear-gradient(rgba(255, 132, 43, 0.3), rgba(255, 132, 43, 0));
    margin-top: 36px;
    border-radius: 30px;
    padding-top: 18px;
  }

  &.classify {
    padding-left: 0;
    margin-top: 44px;

    .van-sticky {
      position: sticky !important;
    }

    .classify-item-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: 25px;
      padding-right: 25px;
      align-items: flex-start;
      align-content: flex-start;

      .classify-item {
        flex-basis: 48%;
        margin-top: 18px;
      }
    }
  }

  .title {
    color: #313131;
    margin-top: 8px;
    font-family: PingFang SC;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    word-wrap: break-word;

    &.recommand::after {
      content: "";
      width: 222px;
      height: 7px;
      border-radius: 7px;
      background-color: #ff842b;
      display: block;
      margin-top: -10px;
    }

    &.classify {
      padding-left: 25px;
    }
  }
}

.recommand-container {
  display: flex;
  width: auto;
  overflow-x: scroll;
  scrollbar-width: none;
  margin-top: 15px;
}

.mask {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  visibility: visible;
  transition: opacity 0.1s linear;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  color: transparent;
}