/* pages/ppgard.wxss */
@import '../styles/global.scss';

page {
  background-color: #EEE;
  font-size: 14px;
  height: 100%;
}

scroll-view {
  height: 100%;
}

.info {
  // padding-top: env(safe-area-inset-top);
  /* display: flex; */
  background-color: white;
}

button {
  height: 52px;
  border-radius: 28px;
  background: rgba(192, 225, 72, 1);
  position: sticky;
  bottom: 50px;
  margin-top: 54px;
  display: flex;
  align-items: center;
  justify-content: center;

  view {
    display: flex;
    width: 100px;
    justify-content: space-between;

    image {
      width: 24px;
      height: 24px;
    }

    text {
      display: block;
      color: rgba(250, 250, 246, 1);
      font-family: PingFang SC;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0em;
    }
  }
}

@keyframes btnAnimate {
  from {
    height: 52px;
    width: 180px;
  }

  to {
    height: 42px;
    width: 160px;
  }

  // 0% {
  //   height: 52px;
  //   width: 236px;
  // }

  // 35% {
  //   height: 47px;
  //   width: 231px;
  // }

  // 70% {
  //   height: 42px;
  //   width: 226px;
  // }

  // 85% {
  //   height: 47px;
  //   width: 231px;
  // }

  // 100% {
  //   height: 52px;
  //   width: 236px;
  // }
}

.afterpressed {
  animation-name: btnAnimate;
  animation-duration: .3s;
  animation-timing-function: linear;
  animation-iteration-count: inherit;

  #btn-icon {
    transform: rotate(360deg);
    transition: .5s;
  }


}

.image {
  width: 100%;
}

.avatar {
  /* display: inline-block; */
  display: flex;
  width: 100%;
  height: 350px;
  overflow: hidden;
  /* position: absolute; */
  left: 20px;
  /* top: 10px; */
  transform-origin: left 75%;
  will-change: transform;
  /* transition: transform .03s linear; */
  // z-index: 2;
  /* contain: strict; */
  // position: sticky;
  /* top: -20px; */
  // transform: translateY(-20px);
  //background-color: dimgrey;
}

.gradient {
  height: 380px;
  width: 100%;
  margin-top: -200px;
  position: sticky;
  padding-top: 1px;

  image {
    width: 40px;
    height: 40px;
  }

  .like {
    background-image: url('https://dynamic-cookbook-1316931011.cos.ap-chengdu.myqcloud.com/heart-fill.svg');
  }

  .unlike {
    background-image: url('https://dynamic-cookbook-1316931011.cos.ap-chengdu.myqcloud.com/heart.svg');
  }

  .description {
    color: rgba($color: #FFFFFF, $alpha: .7);
    position: sticky;
    top: 80px;
    padding: 40rpx;
    height: 180rpx;
    font-size: 26rpx;
    // padding-left: 20rpx;
    // padding-right: 20rpx;
    // padding-top: -100rpx;
    margin-top: -250rpx;
    // padding-bottom: 20rpx;
  }
}

.title {
  margin-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  position: sticky;
  // top: -55px;
  margin-bottom: 130px;
  align-items: center;

  .dishname {
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}



.content {
  height: 300px;
  width: 100%;
  /* background-color: black; */
  // z-index: 3;
  // position: fixed;
  // background-image: linear-gradient(0deg, black,black,black, transparent);
}

.list {
  height: 1114px;
}

.prepare-list {
  width: 100%;
  height: auto;
  background-color: white;

  .ingredients {
    padding: 20px;
    padding-top: 30px;

    .title-container {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      margin-bottom: 33px;

      .p-title-container {
        width: 96px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .p-title {
          font-size: 16px;
          position: relative;
          line-height: 22.4px;
          font-weight: 500;
          font-family: 'PingFang SC';
        }

        image {
          width: 16px;
          height: 16px;
        }
      }

      .amount {
        color: rgba(176, 176, 176, 1);
      }
    }
  }

  .attention {
    align-items: baseline;
    margin-bottom: 16px;

    .dot {
      width: 8px;
      height: 8px;
      background-color: rgba(176, 211, 66, 1);
      margin-right: 8px;
      border-radius: 8px;
    }

    .text {
      color: rgba(49, 49, 49, 0.5);
      font-size: 13px;
      line-height: 190%;
      width: 90%;
    }
  }

  .detail-item {
    height: 22px;
    margin-top: 20px;
    border-bottom: dashed rgba(49, 49, 49, 0.3) 1px;
    padding-bottom: 20px;

    view {
      font-size: 16px;
      color: rgba(49, 49, 49, 0.6);
    }

    #quatity {
      color: #313131;
      font-weight: 400;
    }
  }
}

.hints {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;

  .hint-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 46px;
    width: 100px;

    .icon {
      width: 20px;
      height: 20px;
    }

    .name {
      color: lightgray;
    }

  }

}