$X: 10rpx;
$XX: 20rpx;
$XXX: 30rpx;
$XL: 40rpx;
$L: 50rpx;
$LX: 60rpx;
$LXX: 70rpx;
$LXXX: 80rpx;
$XC: 90rpx;
$C: 100rpx;

.dyc-flex {
  display: flex;
}

.dyc-jcenter {
  justify-content: center;
}

.dyc-acenter {
  align-items: center;
}

.dyc-jbetween {
  justify-content: space-between;
}

.dyc-jaround {
  justify-content: space-around;
}

.dyc-fulWidth {
  width: 100%;
}

.dyc-fulHeight {
  height: 100%;
}